In [4]:
import pandas as pd


#esto es un notebook 
df = pd.read_csv(r'C:\geo_proyectos\listings.csv')

In [ ]:
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,49392,Rental unit in Santiago · 1 bedroom · 1 bed,224592,Maria,NaN,Providencia,-33.43277,-70.59892,Private room,42557,3,0,NaN,NaN,1,178,0,NaN
1,52811,Rental unit in Providencia · ★4.42 · 1 bedroom...,244792,Cristián,NaN,Providencia,-33.42959,-70.61880,Entire home/apt,43360,1,46,2021-11-04,0.3,3,270,0,NaN